<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title></title>
	{% includeCssFile "css/style.min.css" %}
</head>

<body class="pa4 helvetica">
	✨✨✨✨ Craftyons magic happens here ✨✨✨
</body>

</html>
